.footer{
    align-items: center;
 margin-left: 10rem;    
}

.footer-tittle{
   margin-left: 10rem;
    width:28ch;
    white-space:nowrap;
    border-right: 4px solid rgb(81, 255, 0);
    animation: typing  3s steps(14),
    blink .5s infinite step-end alternate;
    overflow-wrap: break-word;
    overflow: hidden;
    text-transform: uppercase;
    transition: all 2s ease-in-out;
    
}


@keyframes typing 
{
from{
 width:0;
}    
}
@keyframes blink {
    50%{
        border-color:transparent ;
    }
    
} 