.footer{
    align-items: center;
    color: rgb(0, 0, 0);

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(175, 1, 1);

    border-right: 4px solid rgb(81, 255, 0);
  
    width:50ch;
    white-space:nowrap;
    animation: typing  3s steps(14),
    blink .5s infinite step-end alternate;
    overflow: hidden; 
    text-transform: uppercase;
    transition: all 2s ease-in-out;
}



@keyframes typing 
{
from{
 width: 0;
}    
}
@keyframes blink {
    50%{
        border-color:transparent ;
    }
    
} 