.header {

    text-align: center;
    background-color: black;
    min-width: 100rem;
 

  

    &__title {

        margin: 2rem 25rem;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);

    }





}