.card{
    text-align: center;
    line-height: 30vh;
    font-size: 3rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.178),rgba(255, 255, 255, 0.295));

}
iframe{

    position: sticky;
    top: 250px;
}